@charset "utf-8";
/* CSS Document */

body{
	background: url(../res/background.png);
	background-repeat:no-repeat;
	background-size: 100%;
	font-size: 20px;
}

#time_choose{
	margin-top: 20px;
	margin-left: 120px;
	text-align: center;
	font-size: 20px;
	font-family: "幼圆"
}
#figure{
	position: relative;
	background-color:#FFF68F;
	font-family:"幼圆";
	text-align: center;
	border-radius:10px;
	font-size:20px;
}
#result{
	margin-left: 120px;
	text-align: center;
	font-size: 20px;
	font-family: "幼圆"
}
#navigation 
{
   height: 50px;
    		
}
#confirm{
	background-color:#FFF68F;
	font-family:"幼圆";
	text-align: center;
	border-radius:10px;

}

